@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
  --color-ngf-green: #06923E;
  --color-ngf-green-light: #0f8a45;
  --color-ngf-green-dark: #0b7a3a;
  --color-ngf-accent: #3DFFA0;
  --color-ngf-dark-blue: #0F2B4C;
  --color-ngf-grey: #CFCFCF;
  --color-ngf-light-grey: #E6E9EE;
  --color-ngf-light-green: #E0EFE9;
  --color-ngf-dark-bg: #0B0E12;
  --color-ngf-nav-bg: #111722;
}

.body-poppins {
  --font-sans: var(--font-poppins);
}

.body-jakarta {
  --font-sans: var(--font-jakarta-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Use one of these classes at runtime to switch fonts */

html.body-poppins body,
body.body-poppins {
  --font-sans: var(--font-poppins);
}

html.body-jakarta body,
body.body-jakarta {
  --font-sans: var(--font-jakarta-sans);
}

@layer base {

  input,
  textarea,
  select {
    @apply text-black dark:text-white;
  }
}